<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Task</title>
    <link rel="stylesheet" th:href="@{/styles.css}"> <!-- Link to your CSS file -->
</head>
<body>
<header>
    <h1>My ToDo List</h1>
</header>
<main>
    <div class="content-box">
        <section class="add-task-section">
            <h2>Add New Task</h2>
            <form action="#" th:action="@{/tasks/save}" th:object="${task}" method="post">
                <label for="description">Description:</label>
                <input type="text" id="description" th:field="*{description}">
                <br>
                <label for="status">Status:</label>
                <input type="text" id="status" th:field="*{status}">
                <br>
                <input type="submit" value="Submit" class="add-button">
            </form>
            <a href="/tasks" class="back-button">Back to Task List</a>
        </section>
    </div>
</main>
<footer>
    <p>© 2024 My ToDo List App</p>
</footer>
</body>
</html>



